VITE_GOOGLE_CLIENT_ID=1088282737098-b064q3m4tq72oghh6pq9uf9jl9gaq45b.apps.googleusercontent.com
VITE_FACEBOOK_APP_ID=1483336409848593

# Figma Design Links (Replace with your actual URLs to fix the 404 error)
VITE_FIGMA_FILE_URL=https://www.figma.com/file/fyd-logistics-design-mockup
VITE_FIGMA_PROTOTYPE_EMBED_URL=https://embed.figma.com/proto/fyd-logistics-prototype?embed_host=share
VITE_FIGMA_TOKENS_URL=https://www.figma.com/file/fyd-design-tokens
